/* Navigation.js */
.navi{
    background-color: black;
}

/* About.js */


/* Contact.js */


/* SlideShow */
.SlideShow{
    width: 50%;
    height: 50%;
    background-color: black;
}

/* books */

/* footer */

/* searchBar */
