/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.bgi{
  opacity: 0.8;
  width: 100%;
}

.qoute{
  position: absolute;
   left: 0;
   top: 0;
   /* right: 0; */
   /* bottom: 0; */
   margin-top:150px;
   width: 600px;
   height: max-content;
   margin-left: 70px;
   color:black;
}
.qoute h1{
  font-family: Marker Felt;
  font-size: 45px;
  text-shadow: 2px 2px 12px white;
}
.qoute p {
  font-size: 40px;
  text-shadow: 2px 2px 8px black;
  color: white;
}

.searchBAR{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  color:white;
}
.searchInpt{
width: 500px;
padding: 2px;
}
.searchBtn{
height: 30px;
width: 500px;
}
.searchForm{
  display: inline;
}